@media(max-width: 1280px){
    .trees-flowers {
        display: none;
    }

    .form-container {
        margin: auto;
        flex-basis: 45% !important; 
        margin-left: 20px !important;
    }

}

@media(max-width: 960px) {
    .main-sentence {
        flex-basis: 100% !important;
    } 
    .form-container {
        flex-basis: 100% !important;
    }
    .contact-form {
        margin: 0px 200px 20px 200px!important;
    }
    div.adds-container {
        margin-bottom: 120px;
    }

}

@media(max-width: 1200px) {
    .label-nav {
        display: block !important;
        text-align: right;
        font-size: 35px;
        padding: 10px 30px 0px 0;
        cursor: pointer;
        width: 26px;
        float: right;
    }
    #label-nav {
        display: none !important; 
    }
    .menu-container {
        width: 10% !important;
        float: right !important;
    }

    .made-with-love-container {
        margin-left: 100px;
    }

    .menu {
        display: none;
    }
    #label-nav:checked + .menu {
        display: inline-block;
        
    }
}

@media(max-width: 750px) {
    div.add:last-child {
        
        border-left: none !important;
        
    }
}

/* START */
/* =============================================== */

body {
    margin: 0;
    padding: 0;
    font-family: helvetica;
    color: #3e3e3e;
    background: #c5ded7;
}

/* HEADER */
/* =============================================== */

.header {
    
    margin: 0;
    padding: 0;
    background-color: #527A79;
    width: 100%;
    height: 70px;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2), 0 3px 60px 0 rgba(0, 0, 0, 0.19);
}

.icon-container {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
.made-with-love-container {
    vertical-align: top;
    display: inline-block;
    width: 17%;
}
.menu-container {
    
    display: inline-block;
    width: 50%;
}

.icon {
    width: 120px;
    height: 120px;
    background-image: url("./heart-big.png");
    background-repeat: no-repeat;
    margin-left: 130px;
}

.label-nav,  #label-nav{
    display: none;
}

.made-with-love {
    font-family: "Sacramento";
    margin-top: 20px;
    width: 220px;
    font-size: 2.4em;
    color: lightgrey;   
}

.icon img {
    width: 120px;
    height: 120px;
}

.menu ul {
    text-align: right;
}

.menu li  {
    list-style: none;
    margin: 20px;
    
}

.menu a {
    text-decoration: none;
    color: #ACD6D3;
    border-bottom: 2px solid; 
    padding-bottom: 10px;
}

.menu a:hover {
    color: lightpink;
    
}

ul li{
    display: inline;
  }

/* TOP */
/* =============================================== */

.top {
    background-color: #c5ded7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* TOP-MAIN-SENTENCE */
/* =============================================== */

.main-sentence {
    flex-basis: 50%;
    color: #708C90;
}

.main-sentence .sentence {
    margin: 50px;
    padding: 0 20px;
    font-size: 1.6em;
    border: 2px solid #fcddd1;
    text-align: justify;
    font-family: Helvetica Neue Light;
}

.main-sentence .sentence .thank-big {
    font-size: 1.65em;
    color: #45b29a;
}

/* TOP-FORM */
/* =============================================== */

.form-container {
    margin: auto;
    flex-basis: 35%; 
}

.contact-form {
    background-color: rgb(248, 140, 129);
    
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-form .contact-button {
    background-color: sandybrown;
    width: 100%;
    border-radius: 7px;
    padding: 12px;
    cursor: pointer;
    margin: 15px 0;
    font-weight: bold;
    color: whitesmoke;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-form .contact-button:hover {
    background-color: salmon;
    color: white;
}

.contact-form label {
    font-size: 15px;
}

.contact-form input {
    border-radius: 7px;
    width: 100%;
    padding: 5px;
    display: inline-block;
    margin: 5px 0;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-form input:hover {
    border-color: teal;
}

.trees-flowers {
    flex-basis: 15%;
    
}

.palm-tree {
    width: 125px;
    height: 125px;
    background-image: url("./palm-tree.png");
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block; 
    margin-top: 50px;
    margin-left: 10px;
}

.flower-red {
    width: 50px;
    height: 50px;
    background-image: url("./flower-red.png");
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block; 
    margin-top: 0px;
    margin-left: 95px;
}

.flower-yellow {
    width: 50px;
    height: 50px;
    background-image: url("./flower-yellow.png");
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;  
    margin-top: -175px;
    margin-left: 25px;
}

.bratek {
    width: 50px;
    height: 50px;
    background-image: url("./bratek.png");
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block; 
    margin-top: -100px;
    margin-left: 100px;
}

.rose-in-water {
    width: 50px;
    height: 50px;
    background-image: url("./rose-in-water.png");
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block; 
    margin-top: -40px;
    margin-left: 5px
}

/* TOP-ADDS */
/* =============================================== */

div.adds-container {
    width: 100%;
    max-height: 150px;
    background-color: #c5ded7;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 20px 0 50px 0;
}
div.add {
    flex-grow: 1;
    padding: 10px;
    text-align: justify;
    width: 150px;
    margin: 0 20px;
}
div.add:first-child {
    margin-left: 40px;
    border-right: 0.5px dashed gray;
    padding-right: 50px;
}

div.add:last-child {
    margin-right: 40px;
    border-left: 0.5px dashed gray;
    padding-left: 50px;
}

/* TOP-IMAGE-HOLDER */
/* =============================================== */

.top-img-container {
    background: #c5ded7;
}

.top-img-holder {
    margin: 0 auto;
    background: #c5ded7;
    width: 800px;
}

/* WHAT-I-DO */
/* =============================================== */

.what-I-do {
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
.I-do {
    width: 800px;
    border-bottom: 3px solid #fcddd1;
    margin: 0 auto;
    text-align: center;
}

.I-do h2 {
    color: salmon;
}

/* SKILLS */
/* =============================================== */

.skill-row {
    width: 50%;
    margin: 90px auto 50px auto;
    text-align: left;
    line-height: 2;
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

h3.skills-desc {
    color: #45b29a;
    font-weight: 500;
}

.code-skill-description {
    clear:left;
}

.chilli-skill-description {
    clear: left;
}

/* FOOTER*/
/* =============================================== */

.footer {
    width: 100%;
    height: 40px;
    background-color: #527A79;
    padding: 3em 0;
}

footer p {
    text-align: center;
    color: #45b29a;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
    padding: 2.5em 0 0;
}